startup --expand_configs_in_place

common --noenable_bzlmod

common:ci --color=yes

build:ci --verbose_failures
build:ci --sandbox_debug
build:ci --spawn_strategy=standalone
build:ci --genrule_strategy=standalone

test:ci --test_strategy=standalone
test:ci --test_output=errors
